.container {
    $transition-duration: 0.5s;
    .page {
        width: 25px;
        height: 25px;
        border: 1px solid gray;
        text-align: center;
        padding-bottom: 2px;
        margin-top: 8px !important;
        margin: 0 10px;
    }
    .child {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 30px;
        margin-top: 40px;
        .item {
            position: relative;
            border-radius: 5px;
            min-width: 300px;
            max-width: 350px;
            height: 550px;
            box-shadow: 0px 0px 6px 0px #8080809c;
            text-align: start;
            padding: 5px 5px;
            cursor: pointer;
            text-align: center;
            &:hover {
                animation: changeColor 0.5s ease-in-out forwards;
                .header {
                    position: absolute;
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(to bottom, #5e68efc1 22%, #33ccff 91%);
                    border-radius: 4px 4px 0px 0px !important;
                    top: 0;
                    left: 0;
                    animation: changcolorHeader 0.5s ease-in-out forwards;
                    p {
                        color: white;
                    }
                }
            }
            &:not(:hover) {
                animation: changeColor1 0.5s ease-in-out forwards;
                .header {
                    animation: changcolorHeader1 0.5s ease-in-out forwards;
                }
            }
            .tag {
                position: absolute;
                top: 60px;
                margin-left: 60px;
                width: 100%;
                height: 30px;
                background-image: url("../../srcimg/Screenshot\ 2024-03-09\ 023449.png");
                background-size: contain;
                background-repeat: no-repeat;
                scale: 0.8;
            }
            .header {
                position: absolute;
                width: 100%;
                height: 60px;
                border-bottom: 0.6px solid rgba(128, 128, 128, 0.429);
                border-radius: 4px 4px 0px 0px !important;
                top: 0;
                left: 0;
                p {
                    color: black;
                    font-size: 20px;
                    padding-top: 15px;
                }
            }
            &.active {
                .header {
                    position: absolute;
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(to bottom, #5e68efc1 22%, #33ccff 91%);
                    border-radius: 4px 4px 0px 0px !important;
                    top: 0;
                    left: 0;
                    p {
                        color: white;
                    }
                }
            }
            h4 {
                margin-top: 90px;
                border-top: 1px solid rgba(128, 128, 128, 0.415);
                width: 100%;
                padding: 0 !important;
            }
            h5 {
                // position: absolute;
                // top: 0;
            }
            p {
                color: #525ceb;
            }
            ul {
                padding-left: 20px;
                list-style-type: none;
                border-top: 1px solid rgba(128, 128, 128, 0.53);
                li {
                    padding-top: 5px;
                }
            }
        }
    }
}
@keyframes changeColor {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-18px);
    }
}
@keyframes changeColor1 {
    from {
        transform: translateY(-18px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes changcolorHeader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes changcolorHeader1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
// @media screen and (max-width: 768px) {
//     .child {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         flex-wrap: wrap !important;
//         height: 100vh;
//         .item {
//             max-width: 355px !important;
//         }
//     }
// }
@media screen and (min-width: 370px) and (max-width: 480px) {
    .child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap !important;
        height: 100vh;
        margin-top: 75px !important;
        .item {
            min-width: 350px !important;
        }
    }
}
@media screen and (max-width: 365px) {
    .child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap !important;
        height: 100vh;
        margin-top: 70px !important;
        .item {
            min-width: 296px !important;
        }
    }
}
@media screen and (min-width: 767px) and (max-width: 1300px) {
    .child {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
    }
    .item {
        flex: 0 0 calc(50% - 20px); /* flex-basis: 50% - 20px */
        margin: 10px; /* Đảm bảo margin giữa các phần tử */
        max-width: 300px !important; /* Đảm bảo rằng các phần tử không vượt quá 300px */
    }
}
