.kkkk {
    // .container {
    //     background-color: white;
    //     .container-fluid {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between; // Căn giữa các phần tử và đều nhau
    //         background-color: #ffff;
    //         box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.152);
    //         border-radius: 10px;
    //         text-transform: capitalize;
    //         padding: 0 !important;
    //         ul {
    //             display: flex;
    //             width: 100%; // Chiếm toàn bộ không gian của container-fluid
    //             padding: 0; // Loại bỏ padding mặc định của ul

    //             .nav-item {
    //                 flex: 1; // Phần tử chia đều không gian
    //                 min-width: 254px;
    //                 border: 10px;
    //                 &:hover {
    //                     background-color: rgba(159, 158, 158, 0.56);
    //                 }
    //                 .nav-link {
    //                     color: black;
    //                     border: 10px;
    //                     &.active {
    //                         background-color: rgba(156, 155, 155, 0.762);
    //                         color: white;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    .box-dropdown {
        $primary-color: #525ceb;
        $secondary-color: #6c757d;
        position: absolute;
        right: 7.2%;
        top: -5px;

        .dropdown {
            position: relative;
            display: inline-block;
            z-index: 20 !important;
            ul {
                display: none;
                .nav-item {
                    min-width: 170px;
                    .nav-link {
                        text-transform: capitalize;
                        height: 55px;
                        color: black !important;
                        margin-top: 5px;
                        font-weight: 500;
                        &:hover {
                            color: #525ceb !important;
                        }
                        &.active {
                            color: #525ceb !important;
                        }
                    }
                }
            }
            &__button {
                background-color: #525ceb;
                border-radius: 12px;
                width: 160px;
                height: 42px;
                color: white;
                padding: 10px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
                z-index: 20 !important;
                letter-spacing: 1px;
                font-size: 15px;
                font-weight: bold;
                inset: 0;
                box-shadow: #3c68bf 0px 7px 0px 0px;
                &:active {
                    transform: translateY(7px);
                    box-shadow: none;
                }
                // &:hover {
                //     background-color: darken($primary-color, 10%);
                //     z-index: 20 !important;
                // }
            }

            &__content {
                display: none;
                position: absolute;
                background-color: white;
                min-width: 170px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-radius: 10px;
                overflow: hidden;
                opacity: 0;
                transform: translateY(-10px);
                margin-top: 10px;
                transition:
                    opacity 0.3s ease,
                    transform 0.3s ease;

                &.show {
                    display: block;
                    opacity: 1;
                    transform: translateY(0);
                    ul {
                        display: flex;
                    }
                }

                &__item {
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    color: $secondary-color;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #f2f2f2;
                    }
                }
            }

            .dropdown__content {
                display: block;
                animation: fade-in 1s ease;
            }
        }

        @keyframes fade-in {
            from {
                opacity: 0;
                transform: translateY(-5px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .kkkk {
        .box-dropdown {
            right: 20px;
        }
    }
}
@media screen and (max-width: 321px) {
    .kkkk {
        .box-dropdown {
            right: 15px;
        }
    }
}
