.row-1 {
    display: flex;
    gap: 32px;
    justify-content: left;
    margin-top: 100px;
    padding: 10px 10px;
    margin-bottom: 20px;
    .modal {
        z-index: 100000000000000000000000000000000000;
        .modal-body {
            .row {
                .select {
                    .radio-inputs {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        border-radius: 0.5rem;
                        background-color: #eee;
                        box-sizing: border-box;
                        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
                        padding: 0.25rem;
                        width: 300px;
                        font-size: 14px;

                        .radio {
                            flex: 1 1 auto;
                            text-align: center;

                            input {
                                display: none;

                                &:checked + .name {
                                    background-color: #fff;
                                    font-weight: 600;
                                }
                            }

                            .name {
                                display: flex;
                                cursor: pointer;
                                align-items: center;
                                justify-content: center;
                                border-radius: 0.5rem;
                                border: none;
                                padding: 0.5rem 0;
                                color: rgba(51, 65, 85, 1);
                                transition: all 0.15s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .box {
        position: relative;
        max-width: 90%;
        max-height: 350px;
        border: 1px solid gray;
        text-align: left;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0px 0px 7px 0px #808080d1;
        .name {
            text-align: center;
        }
        .box-child {
            border-top: 1px solid gray;
            margin-top: 10px;
            h4 {
                font-size: 18px;
                margin-top: 15px !important;
            }
            ul {
                position: absolute;
                left: 650px;
                top: 57px;
            }
            p,
            h5,
            h4 {
                margin-left: 100px;
            }
            .rent {
                position: absolute;
                right: 5px;
                bottom: 10px;
                width: 100px;
                height: 60px;
                background-color: transparent;
                background-image: url("../srcimg/rent\ \(1\).png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                border: none;
                &:hover {
                    color: black;
                    font-weight: 600;
                    background-image: url("../srcimg/rent\ \(2\).png");
                    scale: 1.2;
                }
            }
            .delete {
                cursor: pointer;
                position: absolute;
                top: 0px;
                right: 25px;
                width: 25px;
                height: 45px;
                background-image: url("../srcimg/bin.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    background-image: url("../srcimg/bin\ \(1\).png");
                    scale: 1.1;
                }
            }
        }
    }
}
.not-have {
    margin-top: 130px;
    .img {
        width: 200px;
        height: 200px;
        background-image: url("../srcimg/oops2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        scale: 1.8;
    }
    .title {
        text-transform: capitalize;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 700;
    }
}
@media screen and (min-width: 981px) and (max-width: 1200px) {
    .row-1 {
        display: flex;
        gap: 32px;
        justify-content: left;
        margin-top: 100px;
        padding: 10px 10px;
        margin-bottom: 20px;
        .modal {
            z-index: 100000000000000000000000000000000000;
        }
        .box {
            position: relative;
            max-width: 100%;
            max-height: 350px;
            border: 1px solid gray;
            text-align: left;
            border-radius: 10px;
            margin: 0 auto;
            box-shadow: 0px 0px 7px 0px #808080d1;
            .name {
                text-align: center;
            }
            .box-child {
                border-top: 1px solid gray;
                margin-top: 10px;
                h4 {
                    font-size: 18px;
                    margin-top: 15px !important;
                }
                ul {
                    position: absolute;
                    left: 530px;
                    top: 57px;
                }
                p,
                h5,
                h4 {
                    margin-left: 100px;
                }
                .rent {
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                    width: 100px;
                    height: 60px;
                    background-color: transparent;
                    background-image: url("../srcimg/rent\ \(1\).png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                    &:hover {
                        color: black;
                        font-weight: 600;
                        background-image: url("../srcimg/rent\ \(2\).png");
                        scale: 1.2;
                    }
                }
                .delete {
                    cursor: pointer;
                    position: absolute;
                    top: 0px;
                    right: 25px;
                    width: 25px;
                    height: 45px;
                    background-image: url("../srcimg/bin.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover {
                        background-image: url("../srcimg/bin\ \(1\).png");
                        scale: 1.1;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 700px) and (max-width: 980px) {
    .row-1 {
        display: flex;
        gap: 32px;
        justify-content: start;
        margin-top: 100px;
        padding: 10px 10px;
        margin-bottom: 20px;

        .box {
            position: relative;
            max-width: 45%;
            min-height: 500px;
            border: 1px solid gray;
            text-align: left;
            border-radius: 10px;
            margin: 0 auto;
            box-shadow: 0px 0px 7px 0px #808080d1;

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                margin-left: auto;
            }

            .name {
                text-align: center;
            }

            .box-child {
                border-top: 1px solid gray;
                margin-top: 10px;

                h4 {
                    font-size: 18px;
                    margin-top: 15px !important;
                }

                ul {
                    position: absolute;
                    left: 10px;
                    top: 250px;
                }

                p,
                h5,
                h4 {
                    margin-left: 10px;
                }

                .rent {
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                    width: 100px;
                    height: 60px;
                    background-color: transparent;
                    background-image: url("../srcimg/rent\ \(1\).png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;

                    &:hover {
                        color: black;
                        font-weight: 600;
                        background-image: url("../srcimg/rent\ \(2\).png");
                        scale: 1.2;
                    }
                }

                .delete {
                    cursor: pointer;
                    position: absolute;
                    top: 0px;
                    right: 25px;
                    width: 25px;
                    height: 45px;
                    background-image: url("../srcimg/bin.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    &:hover {
                        background-image: url("../srcimg/bin\ \(1\).png");
                        scale: 1.1;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 389px) and (max-width: 689px) {
    .row-1 {
        display: flex;
        gap: 32px;
        justify-content: start;
        margin-top: 100px;
        padding: 10px 10px;
        margin-bottom: 20px;
        .modal {
            z-index: 100000000000000000000000000000000000;
            .modal-body {
                .row {
                    .select {
                        .radio-inputs {
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            border-radius: 0.5rem;
                            background-color: #eee;
                            box-sizing: border-box;
                            box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
                            padding: 0.25rem;
                            width: 200px;
                            font-size: 14px;

                            .radio {
                                flex: 1 1 auto;
                                text-align: center;

                                input {
                                    display: none;

                                    &:checked + .name {
                                        background-color: #fff;
                                        font-weight: 600;
                                    }
                                }

                                .name {
                                    display: flex;
                                    cursor: pointer;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 0.5rem;
                                    border: none;
                                    padding: 0.5rem 0;
                                    color: rgba(51, 65, 85, 1);
                                    transition: all 0.15s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
        .box {
            position: relative;
            max-width: 80%;
            min-height: 500px;
            border: 1px solid gray;
            text-align: left;
            border-radius: 10px;
            margin: 0 auto;
            box-shadow: 0px 0px 7px 0px #808080d1;

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                margin-left: auto;
            }

            .name {
                text-align: center;
            }

            .box-child {
                border-top: 1px solid gray;
                margin-top: 10px;

                h4 {
                    font-size: 18px;
                    margin-top: 15px !important;
                }

                ul {
                    position: absolute;
                    left: 10px;
                    top: 250px;
                }

                p,
                h5,
                h4 {
                    margin-left: 10px;
                }

                .rent {
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                    width: 100px;
                    height: 60px;
                    background-color: transparent;
                    background-image: url("../srcimg/rent\ \(1\).png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;

                    &:hover {
                        color: black;
                        font-weight: 600;
                        background-image: url("../srcimg/rent\ \(2\).png");
                        scale: 1.2;
                    }
                }

                .delete {
                    cursor: pointer;
                    position: absolute;
                    top: 0px;
                    right: 25px;
                    width: 25px;
                    height: 45px;
                    background-image: url("../srcimg/bin.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    &:hover {
                        background-image: url("../srcimg/bin\ \(1\).png");
                        scale: 1.1;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 310px) and (max-width: 365px) {
    .row-1 {
        display: flex;
        gap: 32px;
        justify-content: start;
        margin-top: 100px;
        padding: 10px 10px;
        margin-bottom: 20px;
        .modal {
            z-index: 200000000000000000000000000000000000;
            .modal-body {
                .row {
                    .select {
                        .radio-inputs {
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            border-radius: 0.5rem;
                            background-color: #eee;
                            box-sizing: border-box;
                            box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
                            padding: 0.25rem;
                            width: 150px;
                            font-size: 14px;

                            .radio {
                                flex: 1 1 auto;
                                text-align: center;

                                input {
                                    display: none;

                                    &:checked + .name {
                                        background-color: #fff;
                                        font-weight: 600;
                                    }
                                }

                                .name {
                                    display: flex;
                                    cursor: pointer;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 0.5rem;
                                    border: none;
                                    padding: 0.5rem 0;
                                    color: rgba(51, 65, 85, 1);
                                    transition: all 0.15s ease-in-out;
                                }
                            }
                        }
                    }
                }
                .form-control {
                    min-width: 100px;
                }
            }
        }
        .box {
            position: relative;
            max-width: 90%;
            min-height: 500px;
            border: 1px solid gray;
            text-align: left;
            border-radius: 10px;
            margin: 0 auto;
            box-shadow: 0px 0px 7px 0px #808080d1;

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                margin-left: auto;
            }

            .name {
                text-align: center;
            }

            .box-child {
                border-top: 1px solid gray;
                margin-top: 10px;

                h4 {
                    font-size: 18px;
                    margin-top: 15px !important;
                }

                ul {
                    position: absolute;
                    left: 10px;
                    top: 250px;
                }

                p,
                h5,
                h4 {
                    margin-left: 10px;
                }

                .rent {
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                    width: 100px;
                    height: 60px;
                    background-color: transparent;
                    background-image: url("../srcimg/rent\ \(1\).png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;

                    &:hover {
                        color: black;
                        font-weight: 600;
                        background-image: url("../srcimg/rent\ \(2\).png");
                        scale: 1.2;
                    }
                }

                .delete {
                    cursor: pointer;
                    position: absolute;
                    top: 0px;
                    right: 25px;
                    width: 25px;
                    height: 45px;
                    background-image: url("../srcimg/bin.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    &:hover {
                        background-image: url("../srcimg/bin\ \(1\).png");
                        scale: 1.1;
                    }
                }
            }
        }
    }
}
