@import "~react-toastify/dist/ReactToastify.css";
.header-form {
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 100px !important;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        position: relative;
        padding: 0 20px;
        font-size: 18px;
        text-transform: uppercase;
        border: 0;
        box-shadow: hsl(210, 71%, 51%) 0px 7px 0px 0px;
        background-color: #3399fe;
        border-radius: 12px;
        overflow: hidden;
        transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
        top: -5px;
        height: 40px;
        &:before {
            content: attr(alt);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset: 0;
            font-size: 15px;
            font-weight: bold;
            color: white;
            letter-spacing: 4px;
            opacity: 1;
        }

        &:active {
            box-shadow: none;
            transform: translateY(7px);
            transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
        }

        &:hover:before {
            transition: all 0s;
            transform: translateY(100%);
            opacity: 0;
        }

        i {
            color: white;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 4px;
            font-style: normal;
            transition: all 2s ease;
            transform: translateY(-20px);
            opacity: 0;
        }

        &:hover i {
            transition: all 0.2s ease;
            transform: translateY(0px);
            opacity: 1;
        }

        &:hover i:nth-child(1) {
            transition-delay: 0.045s;
        }

        &:hover i:nth-child(2) {
            transition-delay: calc(0.045s * 3);
        }

        &:hover i:nth-child(3) {
            transition-delay: calc(0.045s * 4);
        }

        &:hover i:nth-child(4) {
            transition-delay: calc(0.045s * 5);
        }

        &:hover i:nth-child(6) {
            transition-delay: calc(0.045s * 6);
        }

        &:hover i:nth-child(7) {
            transition-delay: calc(0.045s * 7);
        }

        &:hover i:nth-child(8) {
            transition-delay: calc(0.045s * 8);
        }

        &:hover i:nth-child(9) {
            transition-delay: calc(0.045s * 9);
        }

        &:hover i:nth-child(10) {
            transition-delay: calc(0.045s * 10);
        }
    }

    .form {
        position: relative;
        margin-left: 150px;
        display: flex;

        input {
            min-width: 250px;
            max-width: 400px;

            margin-left: -130px;
            border: 1px solid #3399fe;
        }
    }
}

@media screen and (max-width: 1300px) {
    .header-form {
        display: flex;

        .form {
            margin-left: 150px;
            display: flex;
            input {
                min-width: 270px;

                border: 1px solid gray;
            }
        }
    }
}
@media screen and (min-width: 200px) and (max-width: 340px) {
    input {
        min-width: 200px !important;
    }
}
