.container-fuild {
    font-weight: 540;

    .header {
        display: flex;
        width: 100vw;
        height: 80px;
        border-bottom: 1px solid gray;
        font-weight: 550;
        letter-spacing: 0.2px;

        .left-content {
            width: 22%;
            height: inherit;
            .logo {
                margin-top: 15px;
                margin-left: 50px;
                width: 20%;
                height: 50px;
                background-image: url("./srcimg/logol.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                scale: 2.5;
                margin-left: 145px;
            }
        }
        .right-content {
            width: 78%;
            height: inherit;
            margin-left: 0px;
            .avatar {
                position: absolute;
                top: -1px;
                right: 50px;
                width: 48px;
                height: 48px;
                background-image: url("./srcimg/arrow-up.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-top: 15px;
                z-index: 2;
                &:hover {
                    cursor: pointer;
                }
            }
            .bell {
                position: absolute;
                cursor: pointer;
                width: 35px;
                height: 35px;
                background-image: url("./srcimg/bank-account.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-top: 22px;
                z-index: 2;
                right: 120px;
                &:hover {
                    background-image: url("./srcimg/bank-account\ \(2\).png");
                }
            }
            .coin-item {
                position: absolute;
                right: 180px;
                top: 15px;
                width: 20px;
                height: 20px;
                background-image: url("./srcimg/coin.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-top: 15px;
                margin-left: -50px;
            }
            .it {
                font-weight: normal;
                color: #525ceb;
            }
            .respon {
                position: absolute;
                display: none;
            }
            .nav {
                height: inherit;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                gap: 20px;
                .nav-item {
                    min-width: 110px;
                    height: 98%;
                    cursor: pointer;

                    .nav-link {
                        color: black;
                        margin-top: 18px;
                        height: 90%;
                        &:hover {
                            color: #525ceb;
                            scale: 1.1;
                        }
                    }
                }
                .active {
                    .nav-link {
                        color: #525ceb;
                    }
                }
                .coin {
                    color: #525ceb;
                    font-size: 18px !important;
                    margin-left: 10px;
                }
            }
        }
    }
}
.hhhhh {
    position: fixed;
    z-index: 1000000;
    background-color: white;
    top: -1px;
    left: 0;
    box-shadow: -1px -1px 9px 0px #808080e8;
    border: none !important;
}
@keyframes slideIn {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@media screen and (min-width: 200px) and (max-width: 500px) {
    .left-content {
        .logo {
            position: absolute;
            scale: 1.8 !important;
            left: -100px;
        }
    }
    .nav-345 {
        position: absolute;
        scale: 0.8;
        top: -45px;
        right: -50px !important;
        .coin {
            font-size: 18px;
        }
    }
    .right-content {
        .bell {
            right: 110px !important;
        }
    }
}
@media screen and (min-width: 1120px) and (max-width: 1300px) {
    .left-content {
        .logo {
            scale: 2.6 !important;
            height: 50px !important;
            margin-left: 125px !important;
            margin-top: 15px;
        }
    }
    .right-content {
        .avatar {
            display: none;
        }
        .respon {
            display: none;
        }
        .nav-header-big {
            margin-right: 20% !important;
        }
        .nav {
            gap: 10px !important;
        }
    }
}
@media screen and (min-width: 501px) and (max-width: 1118px) {
    .left-content {
        .logo {
            position: absolute;
            scale: 0.9 !important;
            left: -100px;
        }
    }
}
@media screen and (min-width: 1350px) {
    .right-content {
        .avatar {
            display: none;
        }
    }
}

@media screen and (max-width: 1119px) {
    .header {
        .left-content {
            .logo {
                position: absolute;
                left: 500;
                scale: 0.8;
            }
        }
        .right-content {
            .respon {
                display: inline-block !important;
                width: 50px;
                height: 50px;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 10px;
                top: 20px;
                #checkbox {
                    display: none;
                }

                .toggle {
                    position: relative;
                    width: 40px;
                    cursor: pointer;
                    margin: auto;
                    display: block;
                    height: calc(4px * 3 + 11px * 2);
                }
                .bar {
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 4px;
                    border-radius: calc(4px / 2);
                    background: #0d0c0f;
                    color: inherit;
                    opacity: 1;
                    transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
                }

                /***** Spin Animation *****/

                .bar--top {
                    bottom: calc(50% + 11px + 4px / 2);
                    transition-property: bottom, transform;
                    transition-delay: calc(0s + 0.2s), 0s;
                }

                .bar--middle {
                    top: calc(50% - 4px / 2);
                    transition-property: opacity;
                    transition-delay: calc(0s + 0.2s);
                }

                .bar--bottom {
                    top: calc(50% + 11px + 4px / 2);
                    transition-property: top, transform;
                    transition-delay: calc(0s + 0.2s), 0s;
                }

                #checkbox:checked + .toggle .bar--top {
                    bottom: calc(50% - 4px / 2);
                    transform: rotate(135deg);
                    transition-delay: 0s, calc(0s + 0.2s);
                }

                #checkbox:checked + .toggle .bar--middle {
                    opacity: 0;
                    transition-duration: 0s;
                    transition-delay: calc(0s + 0.2s);
                }

                #checkbox:checked + .toggle .bar--bottom {
                    top: calc(50% - 4px / 2);
                    transform: rotate(225deg);
                    transition-delay: 0s, calc(0s + 0.2s);
                }
            }
            .avatar {
                position: absolute;
                margin-right: 30px;
                top: 3px;
                &:hover {
                    cursor: pointer;
                }
            }
            .bell {
                margin-right: 30px;
                top: -3px;
                scale: 1.1;
            }
            .coin-item {
                display: none;
            }
        }
        .nav {
            position: absolute;
            right: 0;
            max-width: 340px;
            min-height: 460px;
            margin-top: 78px;
            background-color: #ffff;
            box-shadow: 2px 3px 5px 5px rgba(0, 0, 0, 0.205);
            z-index: 3;
            align-items: none !important;
            margin-right: 0px !important;
            gap: 0 !important;

            // /* Thiết lập transform origin */
            // transform-origin: right;
            &.visible {
                animation: slideIn 0.5s ease forwards;
            }
            &.enable {
                animation: slideOut 0.5s ease forwards;
            }
            .nav-item {
                display: inline;
                min-height: 80px;
                max-height: 80px;
                width: 100%;
                .nav-link {
                    margin: 0 !important;
                    width: 100%;
                    height: inherit;
                    font-size: 20px;
                }
            }
            .coin {
                font-size: 18px;
            }
            .it {
                width: 100%;
                display: inline;
            }
            .coin-item {
                display: none;
            }
        }
    }
}
