.banking-box {
    display: flex;
    width: 100vw;
    height: 85vh;
    // border: 1px solid red;
    margin-top: 100px;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    .left-content {
        width: 50%;
        height: inherit;
        padding: 0;
        text-align: center;

        .title {
            margin-top: 10px;
        }
        .bank {
            width: 90%;
            height: 90%;
            // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            margin: 0 auto;
            margin-top: 20px;
            .choose-bank {
                width: 100%;
                height: 50%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 1px;
                div {
                    cursor: pointer;
                }
                .mb-bank {
                    background-image: url("./srcbank/mb.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 0.8;
                }
                .agri-bank {
                    background-image: url("./srcbank/logo-agribank-dongphucvina.vn2_.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 0.9;
                }
                .bidv {
                    background-image: url("./srcbank/Logo_BIDV.svg.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 0.8;
                }
                .tp-bank {
                    background-image: url("./srcbank/tp4.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .viettin-bank {
                    background-image: url("./srcbank/viettinbank.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 0.9;
                }
                .vc-bank {
                    background-image: url("./srcbank/logo-vietcombank-khong-slogan.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 0.9;
                }
                .vp-bank {
                    background-image: url("./srcbank/vp-bank.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 0.9;
                }
                .acb {
                    background-image: url("./srcbank/acb.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    scale: 2;
                    margin-top: 25px;
                }
            }
            .tag-bank {
                width: 100%;
                height: 50%;
                background-image: url("./srcvisa/blackcard.jpeg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                scale: 0.9;
                &.Mb {
                    background-image: url("./srcvisa/thedenmbbank.png");
                }
                &.VCB {
                    background-image: url("./srcvisa/thedenvietcom.png");
                }
                &.Agribank {
                    background-image: url("./srcvisa/thedenagri.png");
                }
                &.BIDV {
                    background-image: url("./srcvisa/thedenbidv.png");
                }
                &.TpBank {
                    background-image: url("./srcvisa/tpbanktheden.png");
                }
                &.Viettin {
                    background-image: url("./srcvisa/denviettin.jpg");
                }
                &.Vp {
                    background-image: url("./srcvisa/vpbank.jpg");
                }
                &.ACB {
                    background-image: url("./srcvisa/acbvisa.jpg");
                }
            }
        }
    }
    .right-content {
        width: 50%;
        height: inherit;
        padding: 0;
        text-align: center;
        .container {
            display: flex;
            width: 100%;
            height: 100%;
            max-width: 99%;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            background-color: #ffffff25;
            border-radius: 15px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            border: 0.1px solid rgba(128, 128, 128, 0.178);
            padding: 0;

            &::after {
                position: absolute;
                content: "";
                width: 80%;
                height: 80%;
                right: -40%;
                background: rgb(157, 173, 203);
                background: radial-gradient(circle, rgba(157, 173, 203, 1) 61%, rgba(99, 122, 159, 1) 100%);
                border-radius: 50%;
                z-index: -1;
            }
        }

        .left {
            width: 66%;
            height: 100%;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
            left: 0;
            backdrop-filter: blur(20px);
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 40%;
                height: 40%;
                right: 1%;
                z-index: -1;
                background: radial-gradient(
                    circle,
                    rgb(194, 13, 170) 20%,
                    rgb(26, 186, 235) 60%,
                    rgb(26, 186, 235) 100%
                );
                filter: blur(70px);
                border-radius: 50%;
            }
        }

        .right {
            width: 34%;
            height: 100%;
        }

        .img {
            width: 100%;
            height: 100%;
        }

        .input,
        button {
            background: rgba(253, 253, 253, 0);
            outline: none;
            border: 1px solid rgba(255, 0, 0, 0);
            border-radius: 0.5rem;
            padding: 10px;
            margin: 10px auto;
            width: 80%;
            display: block;
            color: #425981;
            font-weight: 500;
            font-size: 1.1em;
        }
        .Code-validate {
            display: flex;
            width: 200px;
            height: 70px;
            box-shadow:
                inset 4px 4px 4px rgba(165, 163, 163, 0.315),
                4px 4px 4px rgba(218, 218, 218, 0.13);
            margin-left: 45px;
            border-radius: 10px;
            font-size: 28px;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            span {
                width: 100%;
            }
        }
        .input-block {
            position: relative;

            label {
                position: absolute;
                left: 15%;
                top: 37%;
                pointer-events: none;
                color: gray;
            }
        }

        .forgot {
            display: block;
            margin: 5px 0 10px 0;
            margin-left: 35px;
            color: red;
            font-size: 0.9em;
        }

        .input:focus + label,
        .input:valid + label {
            transform: translateY(-120%) scale(0.9);
            transition: all 0.4s;
        }

        button {
            background-color: #5e7eb6;
            color: white;
            font-size: medium;
            box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
            &:hover {
                background-color: #43587d;
            }
        }

        a {
            cursor: no-drop;
            color: red;
            text-decoration: none;
        }

        .input {
            box-shadow:
                inset 4px 4px 4px rgba(165, 163, 163, 0.315),
                4px 4px 4px rgba(218, 218, 218, 0.13);
        }
    }
}
@media screen and (max-width: 1000px) {
    .banking-box {
        display: inline-block;
        .left-content {
            width: 100%;
        }
        .right-content {
            width: 100%;
            .form {
                width: 300px;
            }
        }
    }
}
@media screen and (max-width: 340px) {
    .banking-box {
        display: inline-block;
        height: 100vh;
        .left-content {
            width: 100%;
        }
        .right-content {
            width: 100%;
            .form {
                width: 262px !important;
            }
        }
    }
}
