.footer {
    position: relative;
    width: 100%;
    background: #ffffff;
    z-index: 0;

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2.5rem;
        padding: 40px 40px 0px;
        .footer-col {
            h4 {
                color: var(--black-color);
                font-size: 30px;
                font-weight: 600;
            }

            .links {
                margin-top: 20px;

                li {
                    list-style: none;
                    display: flex;
                    align-items: start;
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: var(--black-color);

                    a {
                        text-decoration: none;
                        color: var(--black-color);

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }

            .footer-logo {
                height: 50px;
                width: auto;
            }

            p {
                margin: 20px 0;
                color: var(--black-color);
                max-width: 300px;
            }

            form {
                display: flex;
                gap: 5px;

                input {
                    height: 40px;
                    border-radius: 6px;
                    background: none;
                    width: 100%;
                    outline: none;
                    border: 1px solid #7489c6;
                    caret-color: #fff;
                    color: var(--black-color);
                    padding-left: 10px;

                    &::placeholder {
                        color: #8d8d8d;
                    }
                }

                button {
                    font-weight: 500;
                    outline: none;
                    border: none;
                    padding: 0 15px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.2s ease;

                    &:hover {
                        background: #cecccc;
                    }
                }
            }
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        gap: 30px;
        cursor: pointer;

        .ct-icon {
            font-size: 25px;
            position: relative;
            left: -15px;
            margin-left: 20px;
            transform: translateY(-3px);
        }

        i {
            color: var(--primary-color);
            border: #7489c6 solid 1px;
            border-radius: 5px;
            padding: 5px;
            font-size: 30px;
            transition: all 0.2s ease-out;

            &:hover {
                color: var(--hover-color);
                transition: all 0.2s ease-out;
                transform: scale(1.5);
            }
        }
    }

    @media screen and (max-width: 768px) {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;

        .footer-row {
            justify-content: space-between;
            gap: 1rem;
            padding: 40px;
        }

        .footer-col {
            width: 100%;

            form {
                display: inline;
                width: 100%;

                :where(input, button) {
                    width: 100%;
                }

                button {
                    margin: 10px 0 0 0;
                    padding: 10px;
                }
            }
        }
    }
}
